set -x NVIM_APPNAME editorconfig
set -x EDITOR nvim
set -x AWS_REGION eu-west-3

set -g fish_greeting

{{- if eq .chezmoi.os "darwin" }}

# mac
fish_add_path /Users/franck/.opencode/bin
fish_add_path /Users/franck/bin

if status is-interactive
    /Users/franck/.local/bin/mise activate fish | source
end
{{- else if eq .chezmoi.os "linux" }}

# linux
fish_add_path /home/franck/.opencode/bin
fish_add_path /home/franck/.pulumi/bin
fish_add_path /home/franck/bin

if status is-interactive
    ~/.local/try.rb init ~/src/tries | source

    mise activate fish | source

    # SSH agent
    if test -z "$SSH_AUTH_SOCK"
        eval (ssh-agent -c) > /dev/null
        ssh-add ~/.ssh/id_ed25519 2>/dev/null
    end
end
{{- end}}


